# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.so
*.compiled

# IDE
.idea/
.vscode/

# Data / Models / Results
*.pt
*.pth
*.npy
*.npz
*.tar.gz
*.log
*.out
*.csv
*.txt
data/
datasets/

# OS
.DS_Store
*.swp
*.swo

# Misc
tmp/
.trace_graph
cachier/
release/
release_abcrown/
verifier_log_*
Verified_ret*.npy
Verified-acc*.npy
vnn-comp_*.npz
